<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @input.title %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @input.zipcode %>
</p>

<% if @input.input_file != nil %>
  <%= "This record has an input_file" %>
  <% file = @input.input_file.download %>
<% end %>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
