<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @input.title %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @input.zipcode %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
